# folder containing data
Data/
Processed_data/
Prediction/
__pycache__/
*/__pycache__/

# Ignore model Predictions:
Predictions/


# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS code
.vscode
*/.vscode/*
